<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Free Game Page</title>
    <link rel="stylesheet" href="/public/css/free.css">
  </head>
  <body>
    <nav>
        <div class="navbar-left">
          <img src="/public/img/menu.png" alt="메뉴" class="menu-icon">
        </div>
        <div class="navbar-center">
          <h1>Free Game</h1>
        </div>
        <div class="navbar-right">
          <img src="/public/img/setting.png" alt="설정" class="settings-icon">
        </div>
      </nav>
      
      <!-- Hamburger menu -->
      <div class="menu">
        <ul>
          <li><a href="#">menu1</a></li>
          <li><a href="#">menu2</a></li>
          <li><a href="#">menu3</a></li>
          <li><a href="#">menu4</a></li>
        </ul>
      </div>
      
      <!-- Options menu -->
      <div class="settings">
        <ul>
          <li><a href="#">setting1</a></li>
          <li><a href="#">setting2</a></li>
          <li><a href="#">setting3</a></li>
        </ul>
      </div>

      <div class="search-container">
        <input type="text" id="search" placeholder="Search Games...">
        <button id="searchBtn" class="search-icon">
          <img src="/public/img/search.png" alt="search">
        </button>
      </div>
      
        <div class="filter-container">
          <div class="filter-btn-container">
            <button class="filter" id="filterBtn">Filter</button>
            <div class="filter-menu-container" id="filterMenu">
              <ul>
                <li><a href="#">Free Game</a></li>
                <li><a href="#">Popular Game</a></li>
                <li><a href="#">Low to high price</a></li>
                <li><a href="#">High to low pricey</a></li>
              </ul>
            </div>
          </div>
        </div>
        
      <div class="container">
        <div class="box">
          <img src="https://wallpaperaccess.com/full/2379009.jpg" alt="Game 1">
          <h2>League of Legends</h2>
          <p>Genres (Video game): MOBA</p>
        </div>
        <div class="box">
          <img src="https://mms.businesswire.com/media/20190204005535/en/703803/4/APEX_Primary_Art_72dpi_RGB_FIN.jpg" alt="Game 2">
          <h2>Apex Legends</h2>
          <p>Genres (Video game): battle royale</p>
        </div>
        <div class="box">
          <img src="https://imgix.ranker.com/user_node_img/3837/76737071/original/76737071-photo-u8?auto=format&q=60&fit=fill&fm=pjpg&dpr=2&crop=faces&bg=fff&h=300&w=300" alt="Game 3">
          <h2>Fortnite</h2>
          <p>Genres (Video game): Survival, battle royale, sandbox</p>
        </div>
        <div class="box">
          <img src="https://s.yimg.com/fz/api/res/1.2/TBGlJPuGrYCI.pz5Vt1JBA--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI2MDtxPTgwO3c9MjYw/https://s.yimg.com/zb/imgv1/30fe762d-df30-303f-aa96-d81d6621bdac/t_500x300" alt="Game 4">
          <h2>Warframe</h2>
          <p>Genres (Video game): Online action</p>
        </div>
        <div class="box">
          <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a98cff5d-a612-49d8-a0db-175994384b20/de6gwbc-c62515e8-9411-41f1-a478-41972654fd0b.png/v1/fill/w_512,h_512,strp/genshin_impact_icon_by_kiramaru_kun_de6gwbc-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTEyIiwicGF0aCI6IlwvZlwvYTk4Y2ZmNWQtYTYxMi00OWQ4LWEwZGItMTc1OTk0Mzg0YjIwXC9kZTZnd2JjLWM2MjUxNWU4LTk0MTEtNDFmMS1hNDc4LTQxOTcyNjU0ZmQwYi5wbmciLCJ3aWR0aCI6Ijw9NTEyIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.aAlCN4I4hmNlQLEkdBgimNt61LuwE2URyQkrREEtPCc" alt="Game 5">
          <h2>Genshin Impact</h2>
          <p>Genres (Video game): Open-world adventure</p>
        </div>
        <div class="box">
          <img src="https://tse3.mm.bing.net/th?id=OIP.NSNSp4aTWGfwM_gs5uBwDwHaHa&pid=Api&P=0" alt="Game 6">
          <h2>Call of Duty Warzone</h2>
          <p>Genres (Video game): Battle royale</p>
        </div>
      </div>

      <script src="/public/js/free.js"></script>


      <footer>
        <div class="logo">
          <a href="main.html"><img src="/public/img/home.png" alt="homepafe"></a>
        </div>
      </footer>
      
  </body>
</html>