<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
<body>
  <%- include("templates/header") %>
  <!-- whatever you need to link -->
  <%- include("templates/navbar") %>
    <button id="popular">Popular Games</button>
    <button id="free">Free Games</button>
    <div id="gameList"></div>
    <%- include("templates/footer") %>
    <script src="/js/game.js"></script>
</body>
</html>


