<%- include("templates/header") %>
    <link href="/css/index.css" rel="stylesheet">
</head>

<%- include("templates/navbar") %>
    <div id="background">
      <div id="hero" class="text-center">Welcome, <%= user %>!</div>
        <nav class="navbar">
            <div class="container-fluid">
                <div id="container">
                    <img src="/img/CroppedLogo.png" id="top-logo">
                    <button onclick="displayNotifs()" id="notif-icon">
                      <img src="/img/notification_icon.png">
                    </button>
                    <iframe id="notifications" src="notification.html" style="display: none;"></iframe>
                    <input type="text" name="search" id="search-bar" placeholder="Search: Please use proper capitalisation">
                    <button id="search-button" onclick="search()"><img src="/img/search_icon.png" id="search-icon"></button>
                </div>
            </div>
        </nav>
    </div>
    <script src="/js/mainpage.js"></script>
    <script src="/js/search.js"></script>
<%- include("templates/footer") %>
