<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/public/css/free.css">
  </head>
  <body>


      <div class="search-container">
        <input type="text" placeholder="Search Games...">
      </div>
      <div class="filter-container">
        <button class="filter">Filter</button>
        <div class="filter-menu">
          <ul>
            <li><a href="/views/free.ejs">Free Game</a></li>
            <li><a href="/views/popular.ejs">Popular Game</a></li>
            <li><a href="#">Low and High Price</a></li>
            <li><a href="#">High and Low Price</a></li>
          </ul>
        </div>
      </div>
      <div class="container">
        <% games.forEach(game => { %>
            <div class="box">
              <img src="<%= game.image %>" alt="Game">
              <h2><%= game.name %></h2>
              <p>Genres (Video game): <%= game.genre %></p>
            </div>
        <% }); %>
      </div>
      <script>
        // 필터 버튼 클릭 시 필터 메뉴 보이기/숨기기
        const filterBtn = document.querySelector('.filter');
        const filterMenu = document.querySelector('.filter-menu');
        filterBtn.addEventListener('click', () => {
          filterMenu.classList.toggle('show');
        });
      </script>

  </body>
</html>
