body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 60vw;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.game-image {
  width: 55vw;
  height: auto;
  margin-bottom: 10px;
}

#gameName {
  font-size: 32pt;
  font-weight: bold;
}

#storeLink {
  font-size: 12pt;
  margin-left: 30vw;
}

#gameRating {
  font-size: 10pt;
  color: #999999;
  margin: 0px;
}

#gameDescription {
  font-size: 14pt;
  line-height: 1.5;
  color: black;
  margin-bottom: 10px;
}

#recAge {
  font-size: 10pt;
  color: #999999;
  margin: 0px;
}

#releaseDate {
  font-size: 10pt;
  color: #999999;
  margin: 0px;
}

#price {
  font-size: 12pt;
  color: #444444;
  margin-bottom: 20px;
}

#platforms {
  font-size: 10pt;
  color: #999999;
  margin: 0px;
}

#languages {
  font-size: 10pt;
  color: #999999;
  margin: 0px;
}

#categories {
  font-size: 10pt;
  color: #999999;
  margin: 0px;
}

#tags {
  font-size: 10pt;
  color: #999999;
  margin: 0px;
}

.similarTitle {
  font-size: 16pt;
}

.similarGames {
  font-size: 12pt;
  color: #777777;
  margin-bottom: 10px;
}

.moregame {
  width: 150px;
  height: 100px;
  object-fit: cover;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.48, 0.25, 0.33, 1.23);
  margin-right: 3vw;
}

.moregame:hover {
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.48, 0.25, 0.33, 1.23);
  width: 240px;
  height: 120px;
  object-fit: cover;
  z-index: 1;
}

.popup {
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
  background-color: #93d8ff;
  color: black;
  display: inline;
  width: 35vw;
  height: auto;
  margin: 0px;
  position: absolute;
  left: 30vw;
  font-size: 16pt;
  transform: scale(0);
}

.popup.focused {
  transition: all 2s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1) translatey(-25vh);
}

.popupDesc {
  font-size: 12pt;
}

/* 
ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

li .game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li .game-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

li .game-card .game-name {
  margin-top: 5px;
} */
