body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.game-image {
  width: 550px;
  height: auto;
  margin-bottom: 10px;
}

#gameName {
  font-size: 24pt;
  font-weight: bold;
  color: #333;
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 15px;
}

#gameRating {
  font-size: 10pt;
  color: #888;
  margin-bottom: 20px;
}

#gameDescription {
  font-size: 14pt;
  line-height: 1.5;
  color: black;
  margin-bottom: 10px;
}

#similarTitle {
  font-size: 16pt;
}

#similarGames {
  font-size: 12pt;
  color: #777;
  margin-bottom: 10px;
}

.moregame {
  width: 150px;
  height: 100px;
  object-fit: cover;
}

.moregame:hover {
  width: 200px;
  height: 110px;
  object-fit: cover;
  z-index: 1;
}

#popup {
  z-index: 1;
  background-color: #93d8ff;
  color: black;
  display: none;
  width: 320px;
  height: 190px;
  margin: 0px;
  position: absolute;
  bottom: 80px;
  left: 200px;
  font-size: 16pt;
}

#popupDesc {
  font-size: 12pt;
}

/* 
ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

li .game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li .game-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

li .game-card .game-name {
  margin-top: 5px;
} */
