#background {
    background-color: #93d8ff;
    padding-bottom: 5vh;
}

#hero {
    font-size: 30pt;
    padding-top: 5vmin;
}

#link {
    margin-top: 10vmin;
    font-size: 16pt;
    background-color: #f9ffb9;
}

#container {
    display: grid;
    grid-template-columns: [image-start] 10vw [searchbar-start] 60vw [searchbar-icon] 60px [searchbar-end] 10vw [pageend] 0px;
    grid-template-rows: [image-start] 65vh [searchbar-start] 5vh [searchbar-end] 0px;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#top-logo {
    grid-column: image-start / pageend;
    grid-row: image-start / searchbar-start;
    width: 95vw;
    height: auto;
}

#notification {
    grid-column: searchbar-end / pageend;
    grid-row: image-start / searchbar-start;
    color: #222222;
    margin-top: 5vh;
}

#notifications {
    background-color: #aaaaaa;
    grid-column: searchbar-icon / pageend;
    grid-row: image-start / searchbar-start;
    margin-top: 10vh;
}

#notif-icon {
    width: 40px;
    height: auto;
}

#search-bar {
    grid-column: searchbar-start / searchbar-end;
    grid-row: searchbar-start / searchbar-end;
}

#search-button {
    grid-column: searchbar-icon / searchbar-end;
    grid-row: searchbar-start / searchbar-end;
    background-color: #005687;
}

#search-icon {
    color: #222222;
    align-self: center;
    justify-self: center;
}

#popular-grid {
    font-size: 20pt;
}

@media only screen and (max-width: 750px) {
    #top-logo {
        width: 90vw;
    }

    #notification {
        grid-column: searchbar-icon / searchbar-end;
        align-self: flex-start;
    }

    #notif-icon {
        width: 25px;
        height: auto;
    }
}
