#background {
    background-color: #93d8ff;
    padding-bottom: 30vh;
}

#alert {
    font-size: 16pt;
    margin-top: 10vh;
}

#notif-selection {
    font-size: 20pt;
    margin-top: 10vh;
}

#notif-option {
    font-size: 14pt;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#button {
    background-color: #005687;
    margin-left: 2vw;
    margin-right: 2vw;
}

#sec-option {
    font-size: 18pt;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#notification {
    font-size: 14pt;
}