/* 검색창 스타일 */
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .search-container input[type="text"] {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    width: 400px;
    max-width: 90%;
    text-align: center;
  }
  
  /* 필터 버튼 스타일 */
  .filter-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .filter {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .filter-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .show {
    display: block;
  }
  
  .filter-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .filter-menu li {
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .filter-menu li:hover {
    background-color: #f1f1f1;
  }
  
  /* 게임 박스 스타일 */
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    margin-top: 50px;
  }
  
  .box {
    text-align: center;
  }
  
  .box img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .box h2 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .box p {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
  }
  
    nav {
    background-color: #104563;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px; /* 간격을 늘리는 속성 추가 */
  }
  
  .navbar-left,
  .navbar-right {
    font-size: 24px;
  }
  
  .navbar-center h1 {
    margin: 0;
  }
  
  .menu,
  .settings {
    display: none;
    position: absolute;
    top: 60px;
    background-color: #104563;
    color: #fff;
    padding: 10px;
    z-index: 1;
  }
  
  .menu ul,
  .settings ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu ul li,
  .settings ul li {
    margin-bottom: 10px;
  }
  
  .menu-icon:hover,
  .settings-icon:hover {
    cursor: pointer;
  }
  
  .menu-icon,
  .settings-icon {
    width: 32px;
    height: 32px;
  }
  

  footer {
    background-color: #104563;
    padding: 20px;
    text-align: center;
    margin-top: 20px; /* 간격을 늘리는 속성 추가 */
  }
  
  
  .logo img {
    height: 25px;
    width: auto;
  }
