.profile-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Add this line */
  flex-direction: column; /* Add this line */
  text-align: center;
}

  
  .profile-header img {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .profile-info h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .profile-info p {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile-form {
    width: 50%;
    margin: 0 auto;
  }
  
  .profile-form form {
    display: flex;
    flex-direction: column;
  }
  
  .profile-form label {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile-form input[type="text"],
  .profile-form input[type="email"],
  .profile-form input[type="password"],
  .profile-form select {
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .profile-form button[type="submit"],
  .profile-form button[type="button"] {
    font-size: 24px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .profile-form button[type="submit"] {
    background-color: #005687;
    color: white;
  }
  
  .profile-form button[type="button"] {
    background-color: #1CA4D6;
    color: white;
  }

  @media only screen and (max-width: 900px) {
    .profile-header {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .profile-header img {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .profile-info h2 {
      font-size: 24px;
    }
  
    .profile-info p {
      font-size: 18px;
    }
  
    .profile-form {
      width: 90%;
      margin: 0 auto; /* 추가 */
    }
  
    .profile-form label {
      font-size: 18px;
    }
  
    .profile-form input[type="text"],
    .profile-form input[type="email"],
    .profile-form input[type="password"],
    .profile-form select {
      font-size: 18px;
      padding: 5px;
      margin-bottom: 10px;
    }
  
    .profile-form button[type="submit"],
    .profile-form button[type="button"] {
      font-size: 18px;
      padding: 5px;
      margin-top: 10px;
    }
  }
  #gif-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* Ensure the overlay is on top */
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.8); /* Dark background with opacity */
  }
  
  #love-gif {
    width: 100%;
    height: 100%;
    max-width: 100%; /* You can adjust this */
<<<<<<< HEAD
  }
=======
  }
  
>>>>>>> f5892d793f8391f9e8dcb177fed00e9cc97f8185
