.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .profile-info h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .profile-info p {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile-form {
    width: 50%;
    margin: 0 auto;
  }
  
  .profile-form form {
    display: flex;
    flex-direction: column;
  }
  
  .profile-form label {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile-form input[type="text"],
  .profile-form input[type="email"],
  .profile-form input[type="password"],
  .profile-form select {
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .profile-form button[type="submit"],
  .profile-form button[type="button"] {
    font-size: 24px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .profile-form button[type="submit"] {
    background-color: #005687;
    color: white;
  }
  
  .profile-form button[type="button"] {
    background-color: #1CA4D6;
    color: white;
  }

  @media only screen and (max-width: 900px) {
    .profile-header {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
    .profile-header img {
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    .profile-info h2 {
      font-size: 24px;
    }
    
    .profile-info p {
      font-size: 18px;
    }
    
    .profile-form {
      width: 90%;
    }
    
    .profile-form label {
      font-size: 18px;
    }
    
    .profile-form input[type="text"],
    .profile-form input[type="email"],
    .profile-form input[type="password"],
    .profile-form select {
      font-size: 18px;
      padding: 5px;
      margin-bottom: 10px;
    }
    
    .profile-form button[type="submit"],
    .profile-form button[type="button"] {
      font-size: 18px;
      padding: 5px;
      margin-top: 10px;
    }
  }
  
  nav {
    background-color: #104563;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px; /* 간격을 늘리는 속성 추가 */
  }
  
  .navbar-left,
  .navbar-right {
    font-size: 24px;
  }
  
  .navbar-center h1 {
    margin: 0;
  }
  
  .menu,
  .settings {
    display: none;
    position: absolute;
    top: 60px;
    background-color: #104563;
    color: #fff;
    padding: 10px;
    z-index: 1;
  }
  
  .menu ul,
  .settings ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu ul li,
  .settings ul li {
    margin-bottom: 10px;
  }
  
  .menu-icon:hover,
  .settings-icon:hover {
    cursor: pointer;
  }
  
  .menu-icon,
  .settings-icon {
    width: 32px;
    height: 32px;
  }
  

  footer {
    background-color: #104563;
    padding: 20px;
    text-align: center;
    margin-top: 20px; /* 간격을 늘리는 속성 추가 */
  }
  
  
  .logo img {
    height: 25px;
    width: auto;
  }
