/* Remove bullets from list items */
ul {
    list-style-type: none;
  }
  
  /* Style the game-box */
  .game-box {
    background-color: #f1f1f1; /* Set the box color */
    margin: 20px; /* Add more space around each box */
    padding: 10px; /* Add some space between the box edges and its content */
    border-radius: 5px; /* Optional: Round the corners of the box */
  }
  
  /* Style the game-list */
  .game-list {
    display: flex; /* Layout the image and the list side by side */
    align-items: center; /* Center the items vertically */
    gap: 20px; /* Add some space between the image and the list */
  }
  
  /* Style the image */
  .game-list img {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    object-fit: contain; /* Ensure the image doesn't get cropped */
  }
  
  /* Center the game-box headings */
  .game-box h2 {
    text-align: center;
  }
  
  /* Responsive design for mobile */
  @media only screen and (max-width: 600px) {
    .game-list img {
      width: 50px; /* Reduce the size of the image */
      height: 50px; /* Reduce the size of the image */
    }
  }
  
  

    nav {
        background-color: #104563;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin-bottom: 20px; /* 간격을 늘리는 속성 추가 */
      }
      
      .navbar-left,
      .navbar-right {
        font-size: 24px;
      }
      
      .navbar-center h1 {
        margin: 0;
      }
      
      .menu,
      .settings {
        display: none;
        position: absolute;
        top: 60px;
        background-color: #104563;
        color: #fff;
        padding: 10px;
        z-index: 1;
      }
      
      .menu ul,
      .settings ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .menu ul li,
      .settings ul li {
        margin-bottom: 10px;
      }
      
      .menu-icon:hover,
      .settings-icon:hover {
        cursor: pointer;
      }
      
      .menu-icon,
      .settings-icon {
        width: 32px;
        height: 32px;
      }
      
      
      footer {
        background-color: #104563;
        padding: 20px;
        text-align: center;
        margin-top: 20px; /* 간격을 늘리는 속성 추가 */
      }
      
      
      .logo img {
        height: 25px;
        width: auto;
      }