body {
    background-color: #93d8ff;
}

#result-link {
    font-size: 20pt;
    color: #f9ffb9;
}

#img {
    width: 600px;
    height: auto;
    margin-bottom: 5vh;
}

#top-text {
    font-size: 36pt;
}

.card {
    margin-top: 100px;
    display: grid;
    background-color: #94e9ff;
    grid-template-columns: [img title] 45vw [desc] 50vw;
    grid-template-rows: [title] 10vh [img desc] 35vh [links reviews] 10vh;
}

.desc {
    font-size: 16pt;
    grid-column: desc;
    grid-row: desc / links;
}

.game-title {
    margin-left: 1vw;
    font-size: 24pt;
    justify-self: left;
    grid-column: title / desc;
    grid-row: title / desc;
}

.game-img {
    width: 550px;
    height: auto;
    margin-right: 3vw;
    display: block;
    justify-self: left;
    grid-column: img / desc;
    grid-row: img / links;
}

.overall-rating {
    grid-column: desc;
    grid-row: title / desc;
    font-size: 10pt;
}

.links {
    grid-column: title;
    grid-row: links;
    font-size: 14pt;
}

.detail-button {
    height: 50px;
    width: auto;
}

#container {
    display: grid;
    grid-template-columns: [left-margin] 15vw [searchbar-start] 60vw [searchbar-icon] 60px [searchbar-end] 15vw [pageend] 0px;
    grid-template-rows: [navbar] 10vh [searchbar-start] 5vh [searchbar-end] 0px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    margin-bottom: 10vh;
}

#search-bar {
    grid-column: searchbar-start / searchbar-end;
    grid-row: searchbar-start / searchbar-end;
    height: 40px;
}

#search-button {
    grid-column: searchbar-icon / searchbar-end;
    grid-row: searchbar-start / searchbar-end;
    background-color: #005687;
    width: 80px;
    height: 40px;
}

#search-label {
    grid-column: searchbar-start / searchbar-icon;
    grid-row: searchbar-end;
    font-size: 10pt
}

#search-button:hover {
    cursor: pointer;
}

#search-icon {
    color: #222222;
    align-self: center;
    justify-self: center;
}

@media only screen and (max-width: 1200px) {
    #img {
        width: 260px;
        height: auto;
    }

    #search-label {
        font-size: 8pt;
    }

    #top-text {
        font-size: 32pt;
    }

    .game-title {
        font-size: 20pt;
    }

    .overall-rating {
        font-size: 8pt;
    }

    .links {
        font-size: 12pt;
    }

    .game-img {
        width: 340px;
    }
}

@media only screen and (max-width: 700px) {
    #img {
        width: 240px;
        height: auto;
    }

    #search-label {
        font-size: 8pt;
    }

    #top-text {
        font-size: 28pt;
    }

    .game-title {
        font-size: 16pt;
    }

    .desc {
        font-size: 12pt;
    }

    .overall-rating {
        font-size: 8pt;
    }

    .links {
        font-size: 10pt;
    }

    .game-img {
        width: 200px;
    }
}