
    <!-- Content goes here -->

    <div class="navbar fixed-bottom footer">
        <div class="footer-icon">
            <a href="/event"><img src="/img/event.png" style="width: 60px; height: auto;" alt="Icon 1"></a>
        </div>
        <div class="footer-icon">
            <a href="/"><img src="/img/home.png" style="width: 60px; height: auto;" alt="Icon 2"></a>
        </div>
        <div class="footer-icon">
            <a href="/community"><img src="/img/community.png" style="width: 60px; height: auto;" alt="Icon 3"></a>
        </div>
    </div>
</body>
</html>
