<<<<<<< HEAD
=======

<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
>>>>>>> d7e1a28381c7d59049b115b2f01f8ecc876f7d57

    <!-- Content goes here -->

    <div class="navbar sticky-bottom footer">
        <div class="footer-icon">
            <a href="/link1"><img src="/path/to/icon1" style="width: 30px; height: auto;" alt="Icon 1"></a>
        </div>
        <div class="footer-icon">
            <a href="/link2"><img src="/img/home 2.png" style="width: 30px; height: auto;" alt="Icon 2"></a>
        </div>
        <div class="footer-icon">
            <a href="/link3"><img src="/path/to/icon3" style="width: 30px; height: auto;" alt="Icon 3"></a>
        </div>
    </div>
</body>
</html>
