
    <!-- Content goes here -->

    <div class="navbar sticky-bottom footer">
        <div class="footer-icon">
            <a href="/link1"><img src="/path/to/icon1" style="width: 30px; height: auto;" alt="Icon 1"></a>
        </div>
        <div class="footer-icon">
            <a href="/link2"><img src="/img/home.png" style="width: 30px; height: auto;" alt="Icon 2"></a>
        </div>
        <div class="footer-icon">
            <a href="/link3"><img src="/path/to/icon3" style="width: 30px; height: auto;" alt="Icon 3"></a>
        </div>
    </div>
</body>
</html>
