<!DOCTYPE html>
< lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/GameSavvyIcon.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <!-- Include Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<<<<<<< HEAD
  <link href="css/header.css" rel="stylesheet">
=======
  <style>
    .navbar {
      background-color: #104563;

    }

    .navbar-brand {
      margin: auto;
    }

    .menu-icon-wrapper, .gear-icon-wrapper {
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    nav-item {
      color:white;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-light justify-content-between">
    <div class="menu-icon-wrapper">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <span class="navbar-brand" style="color:white;">
      <%= title %>
    </span>
    <div class="gear-icon-wrapper">
      <img src="../public/img/setting.png" alt="Settings" style="height: 24px; width: 24px;">
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" style="color:white;" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white;" href="#">page1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white;" href="#">page2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white;" href="#">page3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white;" href="#">page4</a>
        </li>
      </ul>
    </div>
  </nav>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

>>>>>>> d7e1a28381c7d59049b115b2f01f8ecc876f7d57
