<body>
    <nav class="navbar justify-content-between navbarbackground">
      <div class="menu-icon-wrapper navbarbackground">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <img src="/img/menu 2.png" style="width: 40px; height: auto;">
        </button>
      </div>
      <span class="navbar-brand navbarbackground" style="color:white; font-size: 30pt;">
        <%= title %>
      </span>
      <a class="gear-icon-wrapper navbarbackground" href="/settings">
        <img src="/img/setting 2.png" alt="Settings" style="width: 40px; height: auto;">
      </a>
      <div class="collapse navbar-collapse navbarbackground" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pricecompare">Price Comparer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recommended">Recommended Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>