<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container my-3">
        <% posts.forEach(function(post) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><a href="/community/<%= post._id %>">
                            <%= post.postTitle %>
                        </a></h5>
                    <p class="card-text">
                        <%= post.postContent %>
                    </p>
                    <p class="card-text">Written by: <%= post.authorName %>
                    </p>
                    <a href="#" class="btn btn-primary"><i class="fa fa-thumbs-up"></i></a>
                    <a href="#" class="btn btn-secondary"><i class="fa fa-comment"></i></a>
                    <a href="#" class="btn btn-success"><i class="fa fa-share"></i></a>
                </div>
            </div>
            <% }); %>
                <!-- More posts here -->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search posts..." aria-label="Search posts">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Search</button>
                    </div>
                </div>
                <button class="btn btn-primary" type="button" onclick="location.href='/community/write'">Post</button>
    </div>
</body>

</html>